a {
  color: rgba(36, 59, 103, 1);
}

h1 {
  color: rgba(36, 59, 103, 1);
}

/*********************************************
 Main home banner customizations
 *********************************************/
  #banner {
   background-image: url(https://images.unsplash.com/35/Ov8Hg5LlQriTimkB3PEl_kreativgrund_Weizenfeld.jpg?ixlib=rb-0.3.5&s=036f2385ade0856c8b1760f96678079d&auto=format&fit=crop&w=1267&q=80);
   background-size: cover;
   color: rgba(255, 255, 255, 0.75);
   text-shadow: 1px 1px 15px #333;
   text-align: center;
   cursor: default;
   padding: 10em 4em 9em 4em;
 }

 #banner {
  /* background-image: url(https://images.unsplash.com/photo-1501841633380-7de96991a027?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=693324e534070f3af020b744975cf4a5&auto=format&fit=crop&w=668&q=80); */
  background-size: cover;
  background-color: rgba(36, 59, 103, 1);
  text-shadow: 1px 1px 15px #333;
  text-align: center;
  cursor: default;
  padding: 10em 4em 9em 4em;
}


#banner .button.redbtn {
  background-color: rgba(20, 33, 57, 1);
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: rgba(36, 59, 102, 0.59);
}

/*********************************************
 Write your css customizations below
 *********************************************/
 .post.style1.invert .content{
   /* background: rgba(62, 161, 218, 1); */
   background: rgba(36, 59, 103, 1);
 }

 .post.style1 a{
   /* color: rgba(62, 161, 218, 1); */
     color: rgba(36, 59, 103, 1);
 }

 .post.style1 .button.alt {
     color: rgba(36, 59, 103, 1) !important;
 }

.post.style2.invert .content{
  background: rgba(36, 59, 103, 1);
}

.post.style2 a{
   color: rgba(36, 59, 103, 1);
}

.post.style2 .button.alt {
   color: rgba(36, 59, 103, 1) !important;
}
